body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1.5em;
}

.bgtriangle {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

img {
    max-width: 200px;
}

.triangle {
    height: 800%;
    width: 100%;
    background-color: teal;
    position: absolute;
    left: -80%;
    top: -400%;
    transform: rotate(50deg);
    z-index: -1;
}

.navbar-toggler,
.navbar-light {
    border: none;
    position: relative
}

button:focus {
    outline: 0;
}

#menu-toggler-1 {
    position: absolute;
    top: 0;
    left: 0;
}

#menu-toggler-2 {
    position: absolute;
    top: 0;
    left: 0;
}

button:focus #menu-toggler-1 {
    transform: rotate(45deg);
}

button:focus #menu-toggler-2 {
    transform: rotate(-45deg);
}

.navbar-brand {
    font-size: 2em;
}

#about {
    display: none;
}

footer {
    font-size: 0.7em;
}

#favicon {
    height: 40px;
    width: 40px;
}