$basicfontsize: 16px;
$logosize: 150px;
$logooutlinecolor: white;
$colorprimary: rgb(52, 58, 64);
$colorsecondary: rgb(0, 202, 0);

%carouselbg{
background-image: url("../img/Reispakket1_1.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 400px;
width: 100%;
display:block;
}


body{
    height: 100vh;
}
nav {
    ul{
        width: 100%;
        a{
            font-size: $basicfontsize*1.2;
            }
    }
}

#homeImg{
    display:block;
    position: fixed;
    bottom: 0;
    background-image: url("../img/HOME.jpeg");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

main #homeVideo{
    display:none;
}

// LOGO OUTLINE

.logoOverlay{
    position: absolute;
    top: 40%;
    left: 45%;
}


#logooutline{
    height: $logosize;
    width: $logosize;
    background-color: none;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: $logosize/40 solid $logooutlinecolor;

    #waveoutline{
        height: $logosize;
        width: $logosize;
        background-color: none;
        border-radius: 50%;
        position: absolute;
        top: $logosize/5;
        left: $logosize/8.3333333333333333;
        border: $logosize/40 solid $logooutlinecolor;  
    }
    
    #airoutline{
        height: $logosize/2;
        width: $logosize/2;
        background-color: none;
        border-radius: 50%;
        position: absolute;
        top: $logosize/3.3333333333333333;
        left: $logosize/1.6666666666666666;
        border: $logosize/40 solid $logooutlinecolor;
    }

}

.icoonCirkel{
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: none;
border: 3px solid $colorprimary;
i{
    color: $colorprimary;
}
}

.lijn{
    width: 20%;
    border-bottom: 2px dotted $colorsecondary;
    margin: auto;
}

.carousel-indicators>li{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.imgReispakket1-1{
@extend %carouselbg;
background-image: url("../img/Reispakket1_1.jpg");
background-position: top;
}

.imgReispakket1-2{
@extend %carouselbg;
background-image: url("../img/Reispakket1_2.jpg");
}

.imgReispakket1-3{
@extend %carouselbg;
background-image: url("../img/Reispakket1_3.jpg");
}

.imgReispakket2-1{
@extend %carouselbg;
background-image: url("../img/Reispakket2_1.jpg");
}
    
.imgReispakket2-2{
@extend %carouselbg;
background-image: url("../img/Reispakket2_2.jpg");
background-position: bottom;
}
    
.imgReispakket2-3{
@extend %carouselbg;
background-image: url("../img/Reispakket2_3.jpg");
}

.imgReispakket3-1{
@extend %carouselbg;
background-image: url("../img/Reispakket3_1.jpg");
}
    
.imgReispakket3-2{
@extend %carouselbg;
background-image: url("../img/Reispakket3_2.jpg");
background-position: bottom;
}
    
.imgReispakket3-3{
@extend %carouselbg;
background-image: url("../img/Reispakket3_3.jpg");
}

.container-fluid>.row .col>#team{
    width: 100%;
}


#quote{
    text-shadow: 1px 1px 5px gray;
    width: 100%;
    position: absolute;
    top:40px;
    span{
        display: block;
    }
}

.icoonKader{
    border: 2px solid $colorprimary;
}

.btn{
    background-color: $colorsecondary;
    &:hover{
        background-color: $colorprimary;
        color: white;
    }
}

.card>img{
    width: 100%;
}

.overlayIcon{
    left: 0;
    top: 20px;
    background-color: white;
    width: 50px;
    height: 50px;

}

.socialbadge{
    background-color: white;
    color: red;
    position: fixed;
    right: 0;
    bottom: 50%;
    box-shadow: 1px 1px 5px gray;
    a{
        text-decoration: none;
    }
}

.fa-facebook{
    color: #1877f2;
    &:hover{
        color: $colorprimary;
    }
}

.fa-twitter{
    color: #1da1f2;
    &:hover{
        color: $colorprimary;
    }
}

.fa-youtube{
    color: #ff0000;
    &:hover{
        color: $colorprimary;
    }
}

.fa-instagram{
    color: #c32aa3;
    &:hover{
        color: $colorprimary;
    }
}

.contactImg{
    @extend %carouselbg;
    background-image: url("../img/CONTACT.jpg");
    background-position: center;
    height: 200px;
}

footer{
    width: 100%;
    bottom:0;
}



// SM Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { }

// MD Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { }

// LG Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contactImg{
        height: 500px;
    }
}

// XL Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px){
    $logosize: 300px;
   
    main #homeVideo{
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #logooutline{
        height: $logosize;
        width: $logosize;
        background-color: none;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: $logosize/40 solid $logooutlinecolor;
    
        #waveoutline{
            height: $logosize;
            width: $logosize;
            background-color: none;
            border-radius: 50%;
            position: absolute;
            top: $logosize/5;
            left: $logosize/8.3333333333333333;
            border: $logosize/40 solid $logooutlinecolor;  
        }
        
        #airoutline{
            height: $logosize/2;
            width: $logosize/2;
            background-color: none;
            border-radius: 50%;
            position: absolute;
            top: $logosize/3.3333333333333333;
            left: $logosize/1.6666666666666666;
            border: $logosize/40 solid $logooutlinecolor;
        }
    
    }
    
}